<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	

<configuration>
	<properties resource="db.properties"></properties>
	
	<!-- <settings>
		Open secondary cache
		Also, need to open secondary cache in CustomerMapper.xml
		<setting name="cacheEnabled" value="true"></setting>
	</settings> -->
	
	<environments default="mysql">
		<environment id="mysql">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" 	value="${jdbc.driver}" />
				<property name="url" 		value="${jdbc.url}" />
				<property name="username" 	value="${jdbc.username}" />
				<property name="password" 	value="${jdbc.password}" />
				
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/alexSpring/po/CustomerMapper.xml" />
		<mapper resource="com/alexSpring/po/UserMapper.xml" />
	</mappers>
	
</configuration>